#hero {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(3, 64, 233);
    color: white;
    padding: 50px;
    gap: 30px;
}

#hero * {
    margin: 0;
}

#boxes {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    overflow-x: scroll;
}

.infoBox {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: fit-content;
    padding: 20px 50px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info {
    font-size: 5em;
    text-align: center;
}

.comment {
    color: darkgray;
}