<main id="Business">
    <div class="content">
        <div class="banner">
            <div class="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture" />
            </div>
        </div>
        <h1 class="profileName" id="profileName"></h1>
        <div class="boxes">
            <div class="rectangleList">
                <h2>Informazioni</h2>
                <div class="info">
                    <span class="infoTitle"> Ragione sociale </span>
                    <span id="nome"></span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Rappresentante </span>
                    <span id="rappresentante"></span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Ambito </span>
                    <span id="ambito"></span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Numero studenti </span>
                    <span id="studenti"></span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Sede </span>
                    <span id="sede"></span>
                </div>
            </div>
            <div class="rectangleList" id="projects">
                <h2>Progetti</h2>
                <span>NESSUN PROGETTO TROVATO</span>
            </div>
        </div>
    </div>
</main>