<main id="Profile">
    <div class="content">
        <div class="banner">
            <div class="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture">
            </div>
        </div>
        <h1 class="profileName"><?php echo $_SESSION["user"]["name"] . " " . $_SESSION["user"]["surname"]; ?></h1>
        <div class="boxes">
            <div class="infoBox">
                <h2>Informazioni</h2>
                <div class="info">
                    <span class="infoTitle"> Nome e Cognome </span>
                    <span> <?php echo $_SESSION["user"]["name"] . " " . $_SESSION["user"]["surname"]; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Ambito di studi </span>
                    <span> <?php echo $_SESSION["user"]["field_of_study"]; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Provincia </span>
                    <span> <?php echo $_SESSION["user"]["province"]; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Scuola </span>
                    <span> <?php echo $_SESSION["user"]["id_school"]; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Indirizzo mail </span>
                    <span> <?php echo $_SESSION["user"]["email"]; ?> </span>
                </div>
            </div>
        </div>
    </div>
</main>