<main id="Search">
    <div class="content">
        <div class="hero">
            <h1>Cerca l'azienda che fa per te</h1>
            <div class="searchWrapper">
                <input type="text" placeholder="Search" id="search_input" name="search" class="txtinput">
                <select name="regione" id="regione" class="select">
                    <option value="lombardia">lombardia</option>
                    <option value="lazio">lazio</option>
                    <option value="sicilia">sicilia</option>
                </select>
                <select name="provincia" id="provincia" class="select">
                    <option value="brescia">brescia</option>
                    <option value="roma">roma</option>
                    <option value="palermo">palermo</option>
                </select>
                <button id="searchbtn">SEARCH</button>
            </div>
        </div>
        <div style="margin-top: 3vh;">
            <div id="searchResult" class="cardList">
                <span></span>
            </div>
        </div>
    </div>
</main>