<main id="Requests">
    <div class="content">
        <div class="rectangleList">
            <h2>RICHIESTE DI PCTO</h2>
            <div class="rectangle">
                <span><a href="" style="color: white;">Lahlal Mouad</a></span>
                <div class="rectangleContent">
                    <span class="rectangleDesc">ITIS Cerebotani, Lonato del Garda (BS)</span>
                    <span class="rectangleSubtitle">02.05.2023</span>
                </div>
            </div>
        </div>
    </div>
</main>