<main id="Student">
    <div class="content">
        <div class="banner">
            <div class="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture">
            </div>
        </div>
        <h1 class="profileName">ME MEDESIMO</h1>
        <div class="boxes">
            <div class="infoBox">
                <h2>Informazioni</h2>
                <input type="hidden" id="id_user">
                <input type="hidden" id="id_project">
                <div class="info">
                    <span class="infoTitle"> Nome e Cognome </span>
                    <span id="nome"></span>
                </div>

                <div class="info">
                    <span class="infoTitle" > Ambito studi </span>
                    <span id="studio"></span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Provincia </span>
                    <span id="provincia"></span>
                </div>

                <div class="info">
                    <span class="infoTitle" > Scuola </span>
                    <span id="scuola"></span>
                </div>

                <div class="info">
                    <span class="infoTitle" > E-mail </span>
                    <span id="email"></span>
                </div>
            </div>
        </div>
        <div class="infoActions">
            <button class="infoAction" id="btnRifiuta">RIFIUTA</button>
            <button class="infoAction" id="btnAccetta">ACCETTA</button>
        </div>
    </div>
</main>