<main id="Student">
    <div class="content">
        <div class="banner">
            <div class="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture">
            </div>
        </div>
        <h1 class="profileName">ME MEDESIMO</h1>
        <div class="boxes">
            <div class="infoBox">
                <h2>Informazioni</h2>
                <div class="info">
                    <span class="infoTitle"> Nome e Cognome </span>
                    <span id="nome"> <?php echo $id_business; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle" > Ambito studi </span>
                    <span id="studio"> <?php echo "Andrea Schinocca"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Provincia </span>
                    <span id="provincia"> <?php echo "Informatica"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle" > Scuola </span>
                    <span id="scuola"> <?php echo "420"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle" > E-mail </span>
                    <span id="email"> <?php echo "Non Parla Proprio (NPP)"; ?> </span>
                </div>
            </div>
        </div>
        <div class="infoActions">
            <button class="infoAction" id="btnRifiuta">RIFIUTA</button>
            <button class="infoAction" id="btnAccetta">ACCETTA</button>
        </div>
    </div>
</main>