#banner {
    width: 100%;
    height: 150px;
    background-color: rgb(3, 64, 233);
    position: relative;
    border-radius: 20px;
}

#profilePic {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, 20%);
    background-color: white;
    border: 2px solid black;
    border-radius: 1500px;
    padding: 10px;
}

#profilePic img {
    width: 5vw;
}

#businessName {
    text-align: center;
    margin-top: 6vh;
}

#boxes {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
}

.infoBox {
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 10vw;
}

.infoBox h2 {
    margin: 0px;
    padding: 0px;
}

.info {
    display: flex;
    flex-direction: column;
}

.infoTitle {
    font-size: smaller;
    opacity: .45;
}

.project {
    position: relative;
    box-shadow: rgb(244 247 254) 0px 0px 5px 7px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    padding-right: 50px;
}

.project img {
    width: 35px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
}

.project div {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.projectStart {
    font-size: smaller;
    opacity: .45;
}

.projectDesc {
    text-decoration: none;
}