body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #9c88ff;
    display: grid;
    grid-template-columns: 16vw 1fr;
    overflow: hidden;
}

main {
    position: relative;
    /* margin: 1vw 1vw 1vw 4rem; */
    /* height: 100vh; */
    height: calc(100% - 2vh);
    width: calc(100% - 1vw);
    background-color: rgb(244 247 254);
    border-radius: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

#navWrapper {
    display: flex;
    width: 80vw;
    position: fixed;
    flex-direction: row-reverse;
    z-index: 99;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

#navWrapper #actual_page {
    margin-left: 5vw;
}

#nav {
    width: 23vw;
    height: 5vh;
    border-radius: 500px;
    display: flex;
    margin-right: 2vw;
    background-color: darkgray;
    padding: 15px 20px;
    justify-content: space-between;
    z-index: 99;
}

#nav #search {
    width: 250px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 500px;
    padding: 5px 0px;
    text-align: center;
}

.icon {
    width: 35px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#nav #theme {
    width: 50px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 500px;
    padding: 5px 0px;
    text-align: center;
}

#nav #profile {
    width: 50px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 500px;
    padding: 5px 0px;
    text-align: center;
}

#profilePopup {
    position: absolute;
    width: 5vw;
    height: 10vh;
    right: 3vw;
    top: 9.2vh;
    border: 2px solid black;
    border-radius: 15px;
    transition: all .5s ease-in;
}

#content {
    height: 85vh;
    width: calc(100% - 4vw);
    margin-left: 50%;
    margin-top: 5vh;
    transform: translate(-50%, -0%);
    z-index: 10;
}
