<main id="Business">
    <div class="content">
        <div class="banner">
            <div class="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture" />
            </div>
        </div>
        <h1 class="profileName" id="profileName"></h1>
        <div class="boxes">
            <div class="rectangleList">
                <h2>Informazioni</h2>
                <div class="info">
                    <span class="infoTitle"> Ragione sociale </span>
                    <span> <?php echo $id_business; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Rappresentante </span>
                    <span> <?php echo "Andrea Schinocca"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Ambito </span>
                    <span> <?php echo "Informatica"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Numero dipendenti </span>
                    <span> <?php echo "420"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Sede </span>
                    <span> <?php echo "Non Parla Proprio (NPP)"; ?> </span>
                </div>
            </div>
            <div class="rectangleList" id="projects">
                <h2>Progetti</h2>
                <span>NESSUN PROGETTO TROVATO</span>
            </div>
        </div>
    </div>
</main>

<script>
    function postApplySuccess(response) {
        console.log(response);
    }

    function prjSuccess(response) {
        if (response !== false) {
            document.getElementById("projects").innerHTML = "";
            console.log(response);
            response.forEach((project) => {
                let prj = document.createElement("div");
                let prjTitle = document.createElement("span");
                let prjContent = document.createElement("div");
                let prjDesc = document.createElement("a");
                let prjApply = document.createElement("button");

                prj.classList.add("rectangle");
                prjTitle.classList.add("rectangleTitle");
                prjContent.classList.add("rectangleContent");
                prjDesc.classList.add("rectangleDesc");
                prjApply.classList.add("rectangleAction");

                prjTitle.innerText = project.title;
                prjDesc.innerText = project.description;
                prjApply.innerHTML = "<img src='./assets/apply.svg'/>";

                let business = JSON.parse(localStorage.getItem("business"));

                prjApply.addEventListener("click", () => {
                    $.ajax({
                        url: "./includes/stdFunc.php",
                        type: "post",
                        data: {
                            postApply: "1",
                            id_business: business.id_business,
                            id_project: project.id_project,
                            id_user: "32182708-0547-11ef-a34e-c62f196bb7a8"
                        },
                        success: postApplySuccess,
                    });
                });

                prjContent.appendChild(prjDesc);
                prjContent.appendChild(prjApply);

                prj.appendChild(prjTitle);
                prj.appendChild(prjContent);

                document.getElementById("projects").appendChild(prj);
            });
        }
    }

    window.addEventListener("NewBusinessEvent", function () {
        let business = JSON.parse(localStorage.getItem("business"));
        document.getElementById("profileName").innerText = business.name;
        $.ajax({
            url: "./includes/stdFunc.php",
            type: "post",
            data: { getProjects: "1", id_business: business.id_business },
            success: prjSuccess,
        });
    });
</script>
