<link rel="stylesheet" href="css/global.css">

<main id="Dashboard">
    <div class="content">
        <div class="hero">
            <h1>Esplora, scegli e lavora</h1>
            <h4>Trova l'azienda che più ti piace e manda la tua richiesta</h4>
            <span>
                <button>Esplora adesso</button>
                <button>Tutorial</button>
            </span>
        </div>
        <div id="trends">
            <h1>Aziende in tendenza</h1>
            <div class="cardList">
                <?php
                    foreach ($trendBusiness as $business) {
                        echo "<div class='card'> <a href=''> <img src='".$business["logo"]."' alt='business logo'> <h3>".$business["name"]."</h3> <h5>Ambito: ".$business["field"]."</h5> <h5>Sede: ".$business["city"]."</h5> </a> </div>";
                    }
                ?>
            </div>
        </div>
        <div id="new">
            <h1>Nuove aziende</h1>
            <div class="cardList">
                <?php
                    foreach ($newBusiness as $business) {
                        echo "<div class='card'> <a href=''> <img src='".$business["logo"]."' alt='business logo'> <h3>".$business["name"]."</h3> <h5>Ambito: ".$business["field"]."</h5> <h5>Sede: ".$business["city"]."</h5> </a> </div>";
                    }
                ?>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let trends = <?php echo json_encode($trendBusiness); ?>;
        let news = <?php echo json_encode($newBusiness); ?>;

        let links = document.querySelectorAll("#trends > .cardList > .card > a");
        links.forEach((link, index) => {
            link.addEventListener("click", (e) => {
                e.preventDefault();
                localStorage.setItem("business", JSON.stringify(trends[index]));
                window.dispatchEvent(new Event("NewBusinessEvent"));
                document.querySelectorAll("main").forEach((frame) => {
                    frame.style.display = "none";
                });
                document.getElementById("Business").style.display = "block";
            });
        });

        links = document.querySelectorAll("#new > .cardList > .card > a");
        links.forEach((link, index) => {
            link.addEventListener("click", (e) => {
                e.preventDefault();
                localStorage.setItem("business", JSON.stringify(news[index]));
                window.dispatchEvent(new Event("NewBusinessEvent"));
                document.querySelectorAll("main").forEach((frame) => {
                    frame.style.display = "none";
                });
                document.getElementById("Business").style.display = "block";
            });
        });
    });
</script>