<link rel="stylesheet" href="css/business.css">

<main id="Profile">
    <div id="content">
        <div id="banner">
            <div id="profilePic">
                <img src="assets/svg/avatar.svg" alt="profile picture">
            </div>
        </div>
        <h1 id="profileName"><?php echo $id_business; ?></h1>
        <div id="boxes">
            <div class="infoBox">
                <h2>Informazioni</h2>
                <div class="info">
                    <span class="infoTitle"> Ragione sociale </span>
                    <span> <?php echo $id_business; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Rappresentante </span>
                    <span> <?php echo "Andrea Schinocca"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Ambito </span>
                    <span> <?php echo "Informatica"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Numero dipendenti </span>
                    <span> <?php echo "420"; ?> </span>
                </div>

                <div class="info">
                    <span class="infoTitle"> Sede </span>
                    <span> <?php echo "Non Parla Proprio (NPP)"; ?> </span>
                </div>
            </div>
            <div class="infoBox">
                <h2>Progetti</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quisquam alias, modi nihil eligendi beatae aspernatur maxime aliquam soluta excepturi saepe maiores impedit, dignissimos, temporibus quod fugit laudantium fugiat ipsa.</span>
                <div class="project">
                    <span class="projectTitle">Nome progetto</span>
                    <div>
                        <span class="projectStart">Data inizio</span>
                        <a href="" class="projectLink">Visualizza</a>
                    </div>
                    <img src="assets/svg/emptystar.svg" alt="star icon" onclick="handleStar()">
                </div>
                <div class="project">
                    <span class="projectTitle">Nome progetto</span>
                    <div>
                        <span class="projectStart">Data inizio</span>
                        <a href="" class="projectLink">Visualizza</a>
                    </div>
                    <img src="assets/svg/filledstar.svg" alt="star icon">
                </div>
                <div class="project">
                    <span class="projectTitle">Nome progetto</span>
                    <div>
                        <span class="projectStart">Data inizio</span>
                        <a href="" class="projectLink">Visualizza</a>
                    </div>
                    <img src="assets/svg/emptystar.svg" alt="star icon">
                </div>
            </div>
        </div>
    </div>
</main>