<link rel="stylesheet" href="css/global.css">

<main id="Requests">
    <div class="content">
        <div class="rectangleList">
            <h2>RICHIESTE DI PCTO</h2>
            <div class="rectangle">
                <span><a href="">Lahlal Mouad</a></span>
                <div class="rectangleContent">
                    <span class="rectangleDesc">ITIS Cerebotani, Lonato del Garda (BS)</span>
                    <span class="rectangleSubtitle">02.05.2023</span>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".rectangle > span > a").forEach((link) => {
            link.addEventListener("click", (e) => {
                e.preventDefault();
                document.querySelectorAll("main").forEach((frame) => {
                    frame.style.display = "none";
                });
                document.getElementById("Student").style.display = "block";
            });
        });
        document.querySelectorAll("main").forEach((frame) => {
            frame.style.display = "none";
        });
        document.getElementById("Student").style.display = "block";
    });
</script>