<style>
    :root {
        --background: #9c88ff;
        --navbar-width: 100%;
        --navbar-width-min: 80px;
        --navbar-dark-primary: #18283b;
        --navbar-dark-secondary: #2c3e50;
        --navbar-light-primary: #f5f6fa;
        --navbar-light-secondary: #8392a5;
    }

    #nav-bar {
	width: 15vw;
        left: 1vw;
        top: 1vw;
        height: calc(100% - 2vw);
        background: var(--navbar-dark-primary);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        color: var(--navbar-light-primary);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        user-select: none;
    }
    #nav-bar hr {
        margin: 0;
        position: relative;
        left: 16px;
        width: calc(100% - 32px);
        border: none;
        border-top: solid 1px var(--navbar-dark-secondary);
    }
    #nav-bar a {
        color: inherit;
        text-decoration: inherit;
    }
    #nav-bar input[type="checkbox"] {
        display: none;
    }

    #nav-header {
        position: relative;
        width: var(--navbar-width);
        left: 16px;
        width: calc(var(--navbar-width) - 16px);
        min-height: 80px;
        background: var(--navbar-dark-primary);
        border-radius: 16px;
        z-index: 2;
        display: flex;
        align-items: center;
        transition: width 0.2s;
    }
    #nav-header hr {
        position: absolute;
        bottom: 0;
    }

    #nav-title {
        font-size: 1.5rem;
        transition: opacity 1s;
    }

    #nav-content {
        margin: -16px 0;
        padding: 16px 0;
        position: relative;
        flex: 1;
        width: var(--navbar-width);
        background: var(--navbar-dark-primary);
        box-shadow: 0 0 0 16px var(--navbar-dark-primary);
        direction: rtl;
        overflow-x: hidden;
        transition: width 0.2s;
    }

    .nav-button {
        position: relative;
        margin-left: 16px;
        height: 54px;
        display: flex;
        align-items: center;
        color: var(--navbar-light-secondary);
        direction: ltr;
        cursor: pointer;
        z-index: 1;
        transition: color 0.2s;
    }
    .nav-button span {
        transition: opacity 1s;
    }
    .nav-button .fas {
        transition: min-width 0.2s;
    }
    .nav-button:hover {
        background: rgb(172,162,226);
        background: linear-gradient(90deg, rgba(172,162,226,1) 42%, rgba(156,136,255,1) 71%);
        border-start-start-radius: 15px;
        border-end-start-radius: 15px;
        color: white;
    }
    .nav-button:hover::before {
        content: "";
        position: absolute;
        transition: all .3s;
        
        background-color: transparent;
        right: 0px;
        bottom: -50px;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 0 #9c88ff;
    }
    .nav-button:hover::after {
        content: "";
        position: absolute;
        transition: all .3s;
        
        background-color: transparent;
        right: 0px;
        top: -50px;
        height: 50px;
        width: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 25px 0 0 #9c88ff;
    }

    .nav-button-active {
        background-color: #9c88ff;
        border-start-start-radius: 15px;
        border-end-start-radius: 15px;
        color: white;
    }
    .nav-button-active::before {
        content: "";
        position: absolute;
        transition: all .3s;
        
        background-color: transparent;
        right: 0px;
        bottom: -50px;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 0 #9c88ff;
    }
    .nav-button-active::after {
        content: "";
        position: absolute;
        transition: all .3s;
        
        background-color: transparent;
        right: 0px;
        top: -50px;
        height: 50px;
        width: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 25px 0 0 #9c88ff;
    }

    #nav-bar .fas {
        min-width: 3rem;
        text-align: center;
    }

    #nav-footer {
        position: relative;
        width: var(--navbar-width);
        height: 54px;
        background: var(--navbar-dark-secondary);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        transition: width 0.2s, height 0.2s;
    }

    #nav-footer-heading {
        position: relative;
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
    }

    #nav-footer-avatar {
        position: relative;
        margin: 11px 0 11px 16px;
        left: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        transform: translate(0);
        transition: 0.2s;
    }
    #nav-footer-avatar img {
        height: 100%;
    }

    #nav-footer-titlebox {
        position: relative;
        margin-left: 16px;
        width: 10px;
        display: flex;
        flex-direction: column;
        transition: opacity 1s;
    }

    #nav-footer-subtitle {
        color: var(--navbar-light-secondary);
        font-size: 0.6rem;
    }

    #nav-footer-content {
        margin: 0 16px 16px 16px;
        border-top: solid 1px var(--navbar-light-secondary);
        padding: 16px 0;
        color: var(--navbar-light-secondary);
        font-size: 0.8rem;
        overflow: auto;
    }
</style>

<div id="nav-bar">
    <input id="nav-toggle" type="checkbox" />
    <div id="nav-header">
        <a id="nav-title" href="https://codepen.io" target="_blank"
            >KOSSOMMAK</a
        ><label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        <hr />
    </div>
    <div id="nav-content">
	<?php
		foreach ($voices as $voice) {
	 		?>
			<div class="nav-button"><span><?php echo $voice; ?></span></div>
			<?php
	 	}
	?>
        <!--<div class="nav-button">
            <i class="fas fa-palette"></i><span>Your Work</span>
        </div>
        <div class="nav-button">
            <i class="fas fa-images"></i><span>Assets</span>
        </div>
        <div class="nav-button">
            <i class="fas fa-thumbtack"></i><span>Pinned Items</span>
        </div>
        <hr />
        <div class="nav-button">
            <i class="fas fa-heart"></i><span>Following</span>
        </div>
        <div class="nav-button">
            <i class="fas fa-chart-line"></i><span>Trending</span>
        </div>
        <div class="nav-button">
            <i class="fas fa-fire"></i><span>Challenges</span>
        </div>
        <div class="nav-button">
            <i class="fas fa-magic"></i><span>Spark</span>
        </div>
        <hr />
        <div class="nav-button">
            <i class="fas fa-gem"></i><span>Codepen Pro</span>
        </div>
	<div id="nav-content-highlight"></div>-->
    </div>
    <input id="nav-footer-toggle" type="checkbox" />
    <div id="nav-footer">
        <div id="nav-footer-heading">
            <div id="nav-footer-avatar">
                <img
                    src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
                />
            </div>
            <div id="nav-footer-titlebox">
                <a
                    id="nav-footer-title"
                    href="https://codepen.io/uahnbu/pens/public"
                    target="_blank"
                    >llmad</a
                ><span id="nav-footer-subtitle">kapogang</span>
            </div>
            <label for="nav-footer-toggle"
                ><i class="fas fa-caret-up"></i
            ></label>
        </div>
        <div id="nav-footer-content">
            <Lorem
                >ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</Lorem
            >
        </div>
    </div>
</div>

<script>
    const navBtn = document.querySelectorAll(".nav-button");
    navBtn.forEach((tab) => {
        tab.addEventListener("click", () => {
            navBtn.forEach((tab_temp) => {
                tab_temp.classList.remove("nav-button-active");
            });
            tab.classList.add("nav-button-active");
        });
    });
</script>
